
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(239, 241, 239);
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;    
}

a {
    text-decoration: none;
    font-size: 15px;
}

body {
    background-image: url(./pexels-aleksandar-pasaric-2411688.jpg);
    background-repeat: no-repeat;
    background-position: 0px -300px;
    background-size: cover;
}

li {
    margin-bottom: 5px;
}

header ul li a:hover {
    transition: 300ms;
    color: rgb(143, 146, 146);
    text-decoration: underline;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 50px;
}

#animation {
    font-size: 30px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.active {
    display: block !important;
}

.flip-horizontal-bottom {
	animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both !important;
}

@keyframes flip-horizontal-bottom {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(-180deg);
    }
}

#about p {
    background-color: rgba(82, 57, 57, 0.616);
    max-width: 600px;
    margin: 0px auto;
    border: 1px solid white;
    font-weight: bold;
}

.form {
    width: 40%;
    margin: 0% auto;
}

.form input {
    width: 50%;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
}

.form button{
    width:  15%;
    padding: 5px 10px;
    background-color: rgba(82, 57, 57, 0.616);
    cursor: pointer;
}

.form button:hover{
    background-color: rgba(43, 30, 30, 0.767);
}


@media only screen and (max-width: 480px) {
    body {
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: cover;
    }

    .form button{
        width:  47%;
        padding: 5px 10px;
        background-color: rgba(82, 57, 57, 0.616);
    }

    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5 {
        font-size: 15px;
    }

    #about p {
        max-width: 90%;
    }
}

@media only screen and (max-width: 541px) {
    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5 {
        font-size: 15px;
    }

    #about p {
        max-width: 90%;
    }
}

@media only screen and (max-width: 821px) {
    body {
        background-repeat: no-repeat;
        background-position: 0px -50px;
        background-size: cover;
    }

    .form button{
        width:  30%;
        padding: 5px 10px;
        background-color: rgba(82, 57, 57, 0.616);
    }
}







